services:
  pds:
    container_name: pds
    image: ghcr.io/bluesky-social/pds:{{ pds_image_tag }}
    network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: {{ pds_data_dir }}
        target: {{ pds_data_dir }}
    env_file:
      - {{ pds_data_dir }}/pds.env

  caddy:
    container_name: caddy
    image: caddy:2
    network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: {{ pds_data_dir }}/caddy/data
        target: /data
      - type: bind
        source: {{ pds_data_dir }}/caddy/etc/caddy
        target: /etc/caddy

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=3600
