apiVersion: 1
datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://localhost:{{ loki_port }}
    isDefault: true
    editable: false

  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://localhost:{{ prometheus_port }}
    isDefault: false
    editable: false
